@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
  font: 16px / 1 sans-serif;
  font-family: 'roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('images/teal-texture.jpg');
}

.header {
  background-color: rgba(190, 190, 190);
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  font-weight: bold;
  box-shadow: 1rem 1rem 1rem;
  height: 5rem;
  width: 100%;

  background-image: url('images/marble.jpg');
  border: 3px solid black;
}

/* Header */
.header-text {
  text-align: center;
}
.header-text span {
  position: relative;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 2rem;
}
.header h1 {
  font-weight: bold;
  font-size: 1.1rem;
}

/* Navigation Bar */

.navigationBar {
  position: relative;

  width: 5rem;

  height: 100%;
  font-size: 0.7rem;
  top: -10px;
  bottom: 0.6rem;
  box-shadow: 0.1rem 0.2rem 0.2rem 0.2rem;
  background-image: url('images/marble.jpg');
}

.navigationBar ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style-type: none;
  right: 2rem;
  justify-content: space-between;
}

.navigationBar ul li {
  padding: 0.3rem;
}

/* Address Field  */

.address {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 8rem;
  font-size: 0.6rem;
}

.address span {
  padding: 0rem;
}

/* Map */
.react-map {
  display: none;
  position: relative;
  top: 8rem;
  width: 100%;
  height: 70%;

  align-items: center;
}

.logo img {
  position: fixed;
  width: 5rem;
  right: 15.2rem;
  bottom: 1rem;
  height: 5rem;
  top: 0rem;
  flex-direction: flex-start;
}

/* PhoneNumber */

.phoneNumber {
  position: relative;
  top: 7rem;
  font-size: 0.5rem;
}

.phoneNumber a {
  font-size: 0.8rem;
}

/* Image Container  */

.image-container {
  display: flex;
  justify-content: center;
  background-size: cover;
}

.abt-image-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  left: 0.5rem;

  height: 10rem;
}
.abt-image-container img {
  width: 100%;
  border: 4px solid black;
}

.about-desc {
  position: relative;
  background-color: rgba(9, 17, 16, 0.6);
  color: white;
  padding-left: 1rem;
}

.dad-photo {
  position: relative;
  display: inline-block;
  top: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}

.bro-photo {
  position: relative;
  display: inline-block;
  top: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}

.about-bro {
  width: 100%;
}

.about-desc span {
  font-weight: bold;
}

.header img {
  width: 5rem;
}

.image-container img {
  display: flex;
  width: 100%;
  padding-left: none;
  height: 10rem;
}

img.mobile-hide {
  display: none;
}
.description-box {
  display: flex;

  width: 100%;

  color: white;
}

.description-box-bg {
  background-color: rgba(9, 17, 16, 0.6);
}

.description-box p {
  padding-left: 1rem;
  align-items: center;
  justify-content: center;
}

.firstFooter {
  background-color: rgba(9, 17, 16, 0.6);
  color: white;
  display: block;
}

.firstFooter ul {
  list-style-type: none;
}

.firstFooter img {
  position: relative;
  width: 4rem;
}

.firstFooter span {
  position: relative;
  top: 1rem;
}

.firstFooter p {
  text-align: center;
  text-decoration: underline;
}

.secondFooter {
  display: flex;
  border: 1px solid red;
  height: 4.2rem;
  background-color: rgba(9, 17, 16, 0.6);
  color: white;
}

.form-container {
  position: relative;
  display: flex;
  background-color: rgba(9, 17, 16, 0.6);
  color: white;
  padding-left: 1rem;
}

.client-container {
  background-color: rgba(9, 17, 16, 0.6);
}

/* .client-container table {
  width: 100%;
  color: white;
} */

table,
caption,
th,
tr,
td {
  border: 1px solid white;
  color: white;
}

/* Media Queries */

/* Tablet  */
@media (min-width: 720px) {
  .navigationBar {
    height: 40rem;
    width: 9rem;
  }
  .header {
    height: 40%;
  }
  .image-container img {
    position: relative;
    width: 70%;
  }

  .react-map {
    position: relative;
    width: 100%;
    height: 70%;
    top: 12rem;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .logo {
    display: flex;
    align-items: center;
    position: relative;
    width: 3rem;
    height: 3rem;
    right: 0.6rem;

    padding: 1rem;
  }
  .image-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .image-container img {
    width: 25%;
    height: 28rem;
    background-size: cover;
    border: 4px solid black;
  }

  img.mobile-hide {
    display: block;
    z-index: 1;
    border: 4px solid black;
  }

  .abt-image-container {
    position: relative;
    top: 0rem;

    left: 0.5rem;

    right: 3.9rem;
    width: 100%;
    height: 30rem;
  }

  .abt-image-container img {
    width: 100%;
  }

  .scheduler-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    justify-content: space-between;
    left: 10rem;
    width: 90%;
    right: 2rem;
    height: 40rem;
    bottom: 40rem;
    background-color: rgba(9, 17, 16, 0.6);
    color: white;
  }

  .scheduler-body textarea {
    position: relative;
    left: 1.5rem;
  }

  .contact-body {
    position: relative;
    display: flex;
  }

  .form-container {
    display: flex;
    justify-content: center;
    background-color: rgba(9, 17, 16, 0.6);
    width: 100%;
    height: 40rem;
    /* height: 100%; */
    color: white;

    text-align: center;
  }

  .form-container textarea {
    position: relative;
    left: 1.5rem;
  }

  .description-box {
    position: relative;
    align-items: center;
    font-size: 1.3rem;
    line-height: 3rem;
    width: 100%;
  }

  .phoneNumber {
    /* position: relative; */
    /* padding-top: 1rem; */
    font-size: 1rem;
    padding-top: 0rem;
    margin-top: 1rem;
    top: 8rem;
    /* margin-top: 0rem;
    padding-top: 0rem;
    height: 0.2rem; */
  }
  .phoneNumber h1 {
    position: relative;
    top: 1rem;
    padding-top: 0px;
    margin-top: 0px;

    /* margin-top: 0rem; */
    /* margin-bottom: 0rem;
    margin-top: 0rem;
    position: relative;
    top: 0.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem; */
  }

  .description-box-bg {
    /* height: 12rem; */
    height: 12.5rem;
    width: 100%;
  }

  .logo img {
    position: relative;
  }
  .header {
    position: relative;
    height: 10rem;
    width: 100%;
  }
  .header img {
    height: 100%;
    width: 10%;
  }
  .header-text {
    font-size: 1.5rem;
  }
  .header-text h1 {
    font-size: 3rem;
  }

  .navigationBar {
    position: relative;
    font-size: 1rem;
    z-index: 1;
    height: 100%;
  }

  .react-map {
    display: block;
    position: relative;
    top: 10rem;
    width: 100%;
    height: 20rem;

    align-items: center;
  }

  .navigationBar ul {
    right: 5rem;
    /* z-index: 2rem; */
  }
  .navigationBar h1 {
    padding-top: 1rem;
  }

  .address {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 9rem;
    font-size: 1rem;
  }

  .dad-photo {
    position: relative;
    display: inline-block;
    top: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
  }

  .bro-photo {
    position: relative;
    display: inline-block;
    top: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
  }

  .firstFooter {
    display: flex;
    justify-content: space-between;
    height: 20rem;
    width: 100%;
  }

  .firstFooter p {
    position: relative;
    left: 30rem;
    font-size: 1.56rem;
    /* text-align: center; */
    font-weight: bold;
    text-decoration: underline;
  }

  .firstFooter span {
    justify-content: center;
    position: relative;
    text-align: center;
  }

  .firstFooter img {
    position: relative;
    justify-content: space-between;
    width: 10rem;
    height: 12rem;
  }
  .services ul {
    display: flex;
    position: relative;

    top: 9rem;
    right: 10rem;
    list-style-type: none;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: bottom;
  }

  .services ul li {
    position: relative;
    padding: 1rem;
    justify-content: space-between;
    text-align: center;
    margin: 0rem;
  }

  .services img {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    bottom: 2rem;
  }

  .submitButton {
    position: relative;
    top: 2rem;
    right: 13rem;
  }

  .client-container {
    position: relative;
    display: flex;
    background-color: rgba(9, 17, 16, 0.6);
    width: 100%;
    color: white;
    justify-content: center;
    padding: 1rem;
  }

  .client-container caption {
    position: relative;
    padding: 1rem;
  }

  table,
  caption,
  th,
  tr,
  td {
    border: 1px solid white;
    padding: 1rem;
  }

  /* .client-header-row {
    padding: 2rem;
  } */
  /* .client-header-row td {
    padding: 1rem;
  } */
}
/* Flex for different pages */
.body {
  display: flex;
}

.abt-body {
  display: flex;
}

.contact-body {
  display: flex;
}

.client-body {
  display: flex;
}
