@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
  font: 16px / 1 sans-serif;
  font-family: 'roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('images/teal-texture.jpg');
}

.header {
  background-color: rgba(190, 190, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  font-weight: bold;
  box-shadow: 1rem 1rem 1rem;
  height: 5rem;
  /* border: 1px solid red; */
  background-image: url('images/marble.jpg');
}

.header-text {
  text-align: center;
  /* border: 1px solid red; */
}
.header-text span {
  font-style: italic;
  font-weight: bold;
  /* border: 1px solid red; */
}
.header h1 {
  font-weight: bold;
  font-size: 1.1rem;
}

.navigationBar {
  position: relative;
  /* margin: auto; */
  width: 5rem;
  height: 21.3rem;
  font-size: 0.7rem;
  top: -10px;
  bottom: 0.6rem;
  box-shadow: 0.1rem 0.2rem 0.2rem 0.2rem;
  background-image: url('images/marble.jpg');
  /* border: 1px solid red; */
}

.navigationBar ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style-type: none;
  right: 2rem;
  justify-content: space-between;
}

.navigationBar ul li {
  padding: 0.3rem;
}

.address {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 8rem;
  font-size: 0.6rem;
}

.address span {
  padding: 0rem;
}

.react-map {
  position: relative;
  top: 10rem;
  /* left: 0.2rem; */
  padding-right: 1rem;
  /* left: 1rem; */
  /* right: 1rem; */
  /* margin-right: 3rem; */
  align-items: center;
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
  width: 3rem;
  height: 3rem;
  right: 0.6rem;
  /* border: 1px solid red; */
  padding: 1rem;
  /* background-image: url('images/bear-photo.jpg'); */
}

.logo img {
  position: fixed;
  width: 5rem;
  right: 15.2rem;
  bottom: 1rem;
  height: 5rem;
  top: 0rem;
  flex-direction: flex-start;
}

.phoneNumber {
  position: relative;
  top: 7rem;
  font-size: 0.5rem;
}

.phoneNumber a {
  font-size: 0.8rem;
}

.image-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid red;
  width: 15rem;
  height: 9.9rem;
  left: 5rem;
  bottom: 20.5rem; */
}

.header img {
  width: 5rem;
}

.image-container img {
  /* background-image: url('images/plumbing-photo-2.jpg'); */
  display: flex;
  width: 100%;
  padding-left: none;
  height: 10rem;
  width: auto;
}

.description-box {
  display: flex;
  /* position: fixed; */
  /* border: 1px solid red; */
  /* bottom: 9.5rem; */
  width: 15rem;
  /* left: 5rem; */
  color: white;
}

.description-box-bg {
  background-color: rgba(9, 17, 16, 0.6);
}

.description-box p {
  padding-left: 1rem;
  align-items: center;
  justify-content: center;
}

.firstFooter {
  border: 1px solid red;
}

.secondFooter {
  border: 1px solid red;
  height: 4.2rem;
}

/* Media Queries */

/* Tablet  */
@media (min-width: 720px) {
  .navigationBar {
    height: 60rem;
    width: 10rem;
  }
  .header {
    height: 15rem;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .logo {
    display: flex;
    align-items: center;
    position: relative;
    width: 3rem;
    height: 3rem;
    right: 0.6rem;
    /* border: 1px solid red; */
    padding: 1rem;
    /* background-image: url('images/bear-photo.jpg'); */
  }
  .logo img {
    position: relative;
  }
}

.body {
  display: flex;
}
