@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
  font: 16px / 1 sans-serif;
  font-family: 'roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: teal;
}

.header {
  background-color: gray;
  display: flex;
  justify-content: center;
  font-size: 0.5rem;
  font-weight: bold;
}

.navigationBar {
  position: relative;
  width: 5rem;
  height: 10rem;
  font-size: 0.7rem;
  border: 1px solid red;
}

.navigationBar ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style-type: none;
  right: 2rem;
  justify-content: space-between;
}

.navigationBar ul li {
  padding: 0.3rem;
}

.logo {
  display: flex;
  position: relative;
  width: 4rem;
  border: 1px solid red;
  padding: 1rem;
}

.logo img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('images/bear-photo.jpg');
  flex-direction: flex-start;
}

.phoneNumber {
  position: relative;
  top: 7rem;
  font-size: 0.5rem;
}

.phoneNumber a {
  font-size: 0.8rem;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid red;
  width: 15rem;
  height: 9.9rem;
  left: 5rem;
  bottom: 10rem;
}

.image-container img {
  background-image: url('images/plumbing-photo-2.jpg');
  display: flex;
  width: 100%;
}

.description-box {
  position: relative;
  border: 1px solid red;
  bottom: 10rem;
  width: 15rem;
  left: 5rem;
}

/* Media Queries */
